In [10]:
import pandas as pd

df = pd.DataFrame({'c1': [10, 11, 12], 'c2': [100, 110, 120]})
print(df)
print()
for index, row in df.iterrows():
    print(row['c1'], row['c2'])

   c1   c2
0  10  100
1  11  110
2  12  120

10 100
11 110
12 120

In [12]:
for index, row in df.iterrows():
    row['c1'] = index
df

   c1   c2
0   0  100
1   1  110
2   2  120